{% extends 'authbase.html' %}

{% block title %}LOG IN{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <form class="loginForm" method="post">
        <label for="username">Username</label><br>
        <input class="inputField" name="username" id="username" required><br><br>
        <label for="password">Password</label><br>
        <input class="inputField" type="password" name="password" id="password" required><br><br>
        <br><br>
        <input class="submitButton" type="submit" value="Log In">
    </form>
{% endblock %}
