{% extends 'base.html' %}

{% block title %}EXAMPLES{% endblock %}

{% block content %}
    <div class="generalInfoTitle">
            <center>EXAMPLE #1 – HOMER SIMPSON<br><br></center>
        </div>
        <div class="generalInfoInfo">
            Homer is looking for a new job. You can have a look at his resume <a href="static/images/HomerSimpson.pdf">here.</a><br><br>
            Based on his responses, Homer is looking for either hybrid or fully-remote work, full-time or part-time, but NOT contract.<br><br>
            He is willing to travel for work, but is not interested in relocating. He's looking desperately for work and can start immediately.<br><br>
            He has no past or current projects to speak of, lists "Nuclear reactor management" as his skills, and is looking for similar roles.<br><br>
            Click <a href="static/images/homer_chat.m4v">here</a> to see it in action, or click experience what it's like to chat with Homer's resume, or click <a href="chat?id=1EiS2h" target="_blank">here</a> to try it for yourself!
            <br><br>
            <a href="static/images/HomerSimpson.pdf">
                <img src="static/images/homer_simpson.png" width="300" class="resumeImage">
            </a>
            <br><br><br><br><br>

        </div>
        <div class="generalInfoTitle">
            <center>EXAMPLE #2 – FIRST LAST<br><br></center>
        </div>
        <div class="generalInfoInfo">
            First Last (his parents were from somewhere far, far away) is also looking for work.
            See his resume <a href="static/images/FirstLast.pdf">here.</a><br><br>
            Based on his responses to the questions, he's looking for full-time, onsite-only employment.<br><br>
            He's willing to travel for work, and is also willing to relocate.<br><br>
            Since he's currently employed, he needs to give two weeks' notice, and is just casually browsing employment opportunities.<br><br>
            He's got a senior design project he talks about, he wants to be an engineer, and is looking for a role with that title.<br><br>
            Click <a href="static/images/first_chat.m4v">here</a> to see it in action, or click <a href="chat?id=4YfZs3" target="_blank">here</a> to chat with First Last's information for yourself!

            <br><br>
            <a href="static/images/FirstLast.pdf">
                <img src="static/images/first_last.png" width="300" class="resumeImage">
            </a>
        </div>
        <br><br><br><br><br>
        <div class="generalInfoTitle">
            <center>Get Started Today -- Your next career opportunity is just a chat away!<br><br></center>
            <center>Try Resume-Chat.ai now and transform your job search journey!</center>
        </div>
{% endblock %}
