{% extends 'base.html' %}

{% block title %}SIGN UP{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="generalInfoTitle">
            <center>Welcome to Resume-Chat.ai – The Future of Job Seeking!<br><br></center>
            <center>Unlock the Power of <font style="color: red">AI</font> to Showcase Your Professional Persona!<br></center>
        </div>

        <br><br><br><br>
        
        <center>
            <!-- https://buy.stripe.com/28o03s1FAbjv10Y3cd - Actual link -->
            <!-- https://buy.stripe.com/test_eVabMx1GG1WPeFGaEF - Test link -->
             <a href="https://buy.stripe.com/test_eVabMx1GG1WPeFGaEF"><img src="static/images/basic_plan.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="static/images/deluxe_plan.png">
            <br><br><br>
            <a href="/auth/login"><font style="color: blue; font-size: 24px">Have an account? Login HERE</font></a>
        </center>

{% endblock %}
